* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
  color: black;
}

/* HEADER / NAV BAR STYLES START */
header {
  padding: 40px 56px;
  background-color: rgb(24, 24, 24);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 40px;
}

header a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 8px;
  margin: 16px;
  font-size: 1.4vw;
}

header nav ul li a:hover {
  background: white;
  color: black;
  border-radius: 2px;
}
/* HEADER / NAV BAR STYLES END */

/* HERO STYLES START */
.hero {
  display: flex;
  background-color: black;
  align-items: center;
  height: 500px;
  padding-left: 10px;
  margin-bottom: 60px;
  overflow: hidden;
}

.hero h2 {
  color: white;
  font-size: 56px;
  font-style: italic;
  margin: auto;
  text-align: right;
}
/* HERO STYLES END */

/* CONTENT STYLES START */
.content {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

#headshot {
  max-width: 200px;
  border-radius: 100%;
}

h3 {
  display: flex;
  margin-left: 32px;
  font-size: 32px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.content h2 {
  font-size: 24px;
  border-right: 2px solid;
  width: 16%;
  text-align: right;
  padding-right: 20px;
}

.media {
  display: flex;
  width: 60%;
  padding: 0 40px;
}

.media p {
  text-align: left;
  font-size: 16px;
  line-height: 1.2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 8vw);
  grid-gap: 16px;
  grid-auto-flow: dense;
}

.grid-item {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background: black;
}

.grid-item:hover {
  box-shadow: 0 8px 8px 0 #777777;
}

.grid-item h4 {
  background: black;
  color: white;
  padding: 10px;
  text-emphasis: none;
  position: absolute;
  bottom: 20px;
  border-radius: 0 6px 6px 0;
  z-index: 1;
}

.item-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-item img {
  width: 100%;
  vertical-align: middle;
  opacity: 0.6;
}

.content a {
  color: black;
  text-decoration: none;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.content ul li a {
  padding: 32px;
  font-size: 1.2vw;
}

.content ul li a:hover {
  text-decoration: underline;
}

/* CONTENT STYLES END */

/* Width at 1024px and below */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .hero h2 {
    font-size: 40px;
  }

  .media {
    width: 80%;
    padding: 0 20px;
  }

  .content h2 {
    font-size: 16px;
  }

  .content ul li a {
    padding: 8px;
    font-size: 12px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 500px;
    grid-gap: 8px;
    grid-auto-flow: dense;
  }

  .grid-item {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: black;
  }

  .grid-item h4 {
    background: black;
    color: white;
    text-emphasis: none;
    position: absolute;
    border-radius: 0 6px 6px 0;
    z-index: 1;
  }

  .item-1 {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media screen and (max-width: 575px) {
  .hero h2 {
    font-size: 30px;
  }

  .media {
    width: 80%;
    padding: 0 20px;
  }

  .content h2 {
    font-size: 14px;
  }
}
