* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
  color: black;
}

/* HEADER / NAV BAR STYLES START */
header {
  padding: 20px 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 40px;
}

header a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 8px;
  margin: 16px;
  font-size: 1.2vw;
}

header nav ul li a:hover {
  background: white;
  color: black;
  border-radius: 2px;
}
/* HEADER / NAV BAR STYLES END */
.hero {
  display: flex;
  background-color: black;
  align-items: center;
  height: 500px;
  padding-left: 10px;
  margin-bottom: 60px;
  overflow: hidden;
}

.hero img {
  width: 50%;
}

.hero h2 {
  color: white;
  font-size: 56px;
  font-style: italic;
  margin: auto;
  text-align: right;
}

/* SECTION TITLE STYLES START */
.content {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.content h2 {
  font-size: 24px;
  border-right: 2px solid;
  width: 16%;
  text-align: right;
  padding-right: 20px;
}

.media {
  width: 80%;
  padding: 0 40px;
}

.media p {
  text-align: left;
  font-size: 16px;
  line-height: 1.2;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 8vw);
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.grid-item {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
}

.grid-item h4 {
  background: black;
  color: white;
  position: absolute;
  padding: 10px;
  margin: 10px 0;
  text-emphasis: none;
  bottom: 0;
}

.item-1 {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../images/wireframe.jpg);
  background-size: cover;
}

.item-2 {
  background-image: url(../images/deck.jpg);
  background-size: cover;
}

.item-3 {
  background-image: url(../images/laptop.jpg);
  background-size: cover;
}

.item-4 {
  background-image: url(../images/phone.jpg);
  background-size: cover;
}

.item-5 {
  background-image: url(../images/typography.jpg);
  background-size: cover;
}